@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html {
  --artworkSz: 150px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  position: fixed;
  height: 25vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.header_child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.header_logo .header_links {
  filter: invert(100%);
}

.header_logo {
  width: 6rem;
  height: 6rem;
}

.header_links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: calc(0.8rem + 8px);
  font-weight: 400;
}

.mobile_menu{
  display: none;
  cursor: pointer;
}

@media (min-width: 761px) {
  .mobile_menu{
    display: none;
  }

  .header_links{
    display: flex;
  }
}

@media (max-width: 760px) {
  .mobile_menu{
    display: flex;
  }

  .header_links{
    display: none;
  }
}


.header_links > a {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.header_links > a:hover {
  opacity: 0.67;
}

.search_icon {
  width: 25px;
}

.content {
  max-width: 100vw;
  min-height: 100vh;
}

.artwork_grid {
  width: auto;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 90%;
  column-gap: 4rem;
  row-gap: 2rem;
}

.artwork {
  overflow: hidden;
  transition: 0.25s;
}

.artwork:hover {
  opacity: 0.67;
}

.artworkImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  transform-origin: bottom;
  transition: 0.25s;
}

.artworkImage:hover {
  transform: scale(1.05);
}

.artwork_child {
  height: auto;
  width: 100%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.25s;
}

.artwork_data {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

@media (max-width: 599px) {
  .artwork_grid {
    row-gap: 1rem;
  }
}

@media (min-width: 600px) {
  .artwork_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .artwork_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  text-align: left;
  font-size: calc(0.8rem + 6px);
  font-weight: 500;
}

.author {
  text-align: left;
  font-size: calc(0.7rem + 6px);
  font-weight: 300;
  padding-bottom: 2%;
}

.artwork:hover > .artworkImage {
  opacity: 1;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 0;
}

.video_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video_overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 1;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

@media screen and(max-width < 860px) {
  video {
    width: auto;
    height: 100vw;
  }

  .video_overlay {
    width: 100vw;
    height: 100vh;
  }
}

h1 {
  color: white;
  z-index: 1;
  font-weight: 400;
  padding: 0 10%;
  font-size: calc(1.4em + 1vw + 4px);
  letter-spacing: 0.2rem;
  text-align: center;
}

.button {
  background-color: white;
  color: rgb(198, 0, 0);
  text-decoration: none;
  z-index: 1;
  border: 0;
  font-weight: 600;
  font-size: calc(0.6rem + 8px);
  padding: 16px 32px;
  margin-top: 2.5%;
  transition: 0.25s;
}

.button:hover {
  color: rgb(132, 0, 0);
}

#collection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_header {
  border-top: 0.2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 90%;
}

.section_header > h2 {
  font-weight: 400;
  font-size: calc(1.2rem + 4px);
  letter-spacing: 0.2rem;
}

.detail {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg_image {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vmax;
  object-fit: cover;
  z-index: 0;
}

.detail > h1 + h2 {
  z-index: 1;
  color: white;
  font-weight: 400;
}

.artwork_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artwork_detail_child {
  margin-top: 3rem;
  border-top: 0.2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 599px) {
  .artwork_detail_child {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .artwork_detail_child {
    width: 67%;
  }
}

@media (min-width: 900px) {
  .artwork_detail_child {
    width: 50%;
  }
}

.artwork_title {
  color: black;
  z-index: 1;
  font-weight: 400;
  padding: 0 10%;
  font-size: calc(1em + 0.8vw + 4px);
  letter-spacing: 0.1rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

.artwork_details {
  color: rgba(0, 0, 0, 0.6);
  font-size: calc(0.8rem + 6px);
  margin-bottom: 2rem;
}

.artwork_description > p {
  margin-bottom: 2rem;
  font-size: calc(0.8rem + 6px);
}

.artwork_description > p > a {
  color: rgb(198, 0, 0);
}

.artwork_description > p > a:hover {
  color: rgb(198, 0, 0);
  text-decoration: underline;
}

.row_artwork {
  border-top: 0.2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: calc(0.8rem + 4px);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.type {
  width: 30%;
  font-weight: 600;
}

.value {
  width: 70%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 599px) {
  .row_artwork {
    width: 90%;
  }
}

@media (min-width: 600px) {
  .row_artwork {
    width: 67%;
  }
}

@media (min-width: 900px) {
  .row_artwork {
    width: 50%;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

footer > * {
  color: rgba(0, 0, 0, 0.6);
}

footer > a {
  text-decoration: underline;
}
